@media (max-width: 767px) {
    .mobile {
        img{
            width: 350px;
            margin-top: 40px;
        }
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1.2rem;
        }
        .ctabtn{
            width: 50%;
        }
        .bannercontent {

            top: 70%;
            transform: translate(0%,-60%);
           

        }
    }

    .scrolldownhint {
        top: 85%;
    }
}

@media (max-width: 480px) {
    .mobile {
        img{
            width: 280px;
            margin-top: 30px;
        }
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1.2rem;
        }
        .ctabtn{
            width: 60%;
        }
        .bannercontent {

            top: 60%;
            transform: translate(0%,-60%);
           

        }
    }

    .scrolldownhint {
        top: 90%;
    }
}
@media (max-width: 320px) {
    .mobile {
        img{
            width: 220px;
        }
        h1{
            font-size: 1.3rem;
        }
        h2{
            font-size: 1.2rem;
        }
        .ctabtn{
            width: 60%;
        }
        .bannercontent {

            top: 80%;
            transform: translate(0%,-80%);
           

        }
    }
    
}

@media (min-width: 768px) and (max-width: 979px) {
    .banner{
        background-position: center;
    }
    .desktop {
        h1 {
            font-size: 1.7rem;

        }

        h2 {
            font-size: 1.5rem;
        }

        img {
            width: 420px;
        }

        .bannercontent {

            top: 60%;
            transform: translate(0%,-60%);
            margin-right: 20px;

        }
    }

    .scrolldownhint {
        top: 80%;
    }
}

@media (min-width: 980px) {
    .banner{
        background-position: top;
    }
    .desktop {

        h1 {
            font-size: 32px;

        }

        h2 {
            font-size: 24px;
        }

        img {
            width: 520px;
        }

        .bannercontent {

            top: 60%;
            transform: translate(0%,-60%);
            margin-right: 20px;
           

        }
    }

    .scrolldownhint {
        top: 80%;
    }

}

@media (min-width: 1200px) {}

.banner {
   
    width: 100vw;
    height: 95vh;
    // background-image: url(./media/banner-deco-phone.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;

}

.desktop {
    .bannercontent {
        // border: solid 1px;

        width: 100vw;

        position: absolute;

        // left: 10%;

        display: flex;
        justify-content: space-around;

        .content-left {
            // border: solid 1px;

        }
    }

    img {
        // border: solid 1px;



        z-index: 2;

    }

    h1 {

        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.4px;
        text-align: left;
        color: #5b5b5b;
        line-height: 2;
    }

    h2 {

        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5b5b5b;
        margin-top: 22px;

    }

    .ctabtn {
        width: 308px;
        height: 61px;
        margin-top: 31px;
        display: flex;

        justify-content: center;
        align-items: center;
        padding: 10 15px;
        border-radius: 50px;
        background-color: #67d59b;
        color: white;
        font-size: 28px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;


    }
}

.mobile {
    
    
    .bannercontent {
        position: absolute;
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        


        .content-left {
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        }
    }

    img {
       





    }

    h1 {
       
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.4px;
        text-align: center;
        color: #5b5b5b;
        line-height: 2;
    }

    h2 {
        
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5b5b5b;
        margin-top: 22px;

    }

    .ctabtn {
        
        display: flex;
        font-size: 1.1rem;

        justify-content: center;
        align-items: center;

        padding: 10 15px;
        border-radius: 50px;
        background-color: #67d59b;
        color: white;
        margin-top: 30px;
        cursor: pointer;

    }
}

