.banner{
    height: 100%;
    min-height: 800px;
    width: 100vw;
    // background-image: url(./media/banner-deco-phone.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}