@media (max-width: 767px) {
  .mobile img {
    width: 350px;
    margin-top: 40px;
  }
  .mobile h1 {
    font-size: 1.5rem;
  }
  .mobile h2 {
    font-size: 1.2rem;
  }
  .mobile .ctabtn {
    width: 50%;
  }
  .mobile .bannercontent {
    top: 70%;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  .scrolldownhint {
    top: 85%;
  }
}

@media (max-width: 480px) {
  .mobile img {
    width: 280px;
    margin-top: 30px;
  }
  .mobile h1 {
    font-size: 1.5rem;
  }
  .mobile h2 {
    font-size: 1.2rem;
  }
  .mobile .ctabtn {
    width: 60%;
  }
  .mobile .bannercontent {
    top: 60%;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  .scrolldownhint {
    top: 90%;
  }
}

@media (max-width: 320px) {
  .mobile img {
    width: 220px;
  }
  .mobile h1 {
    font-size: 1.3rem;
  }
  .mobile h2 {
    font-size: 1.2rem;
  }
  .mobile .ctabtn {
    width: 60%;
  }
  .mobile .bannercontent {
    top: 80%;
    -webkit-transform: translate(0%, -80%);
            transform: translate(0%, -80%);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .banner {
    background-position: center;
  }
  .desktop h1 {
    font-size: 1.7rem;
  }
  .desktop h2 {
    font-size: 1.5rem;
  }
  .desktop img {
    width: 420px;
  }
  .desktop .bannercontent {
    top: 60%;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
    margin-right: 20px;
  }
  .scrolldownhint {
    top: 80%;
  }
}

@media (min-width: 980px) {
  .banner {
    background-position: top;
  }
  .desktop h1 {
    font-size: 32px;
  }
  .desktop h2 {
    font-size: 24px;
  }
  .desktop img {
    width: 520px;
  }
  .desktop .bannercontent {
    top: 60%;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
    margin-right: 20px;
  }
  .scrolldownhint {
    top: 80%;
  }
}

.banner {
  width: 100vw;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.desktop .bannercontent {
  width: 100vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desktop img {
  z-index: 2;
}

.desktop h1 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #5b5b5b;
  line-height: 2;
}

.desktop h2 {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
  margin-top: 22px;
}

.desktop .ctabtn {
  width: 308px;
  height: 61px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10 15px;
  border-radius: 50px;
  background-color: #67d59b;
  color: white;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.mobile .bannercontent {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile .bannercontent .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile h1 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #5b5b5b;
  line-height: 2;
}

.mobile h2 {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5b5b5b;
  margin-top: 22px;
}

.mobile .ctabtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10 15px;
  border-radius: 50px;
  background-color: #67d59b;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=banner.css.map */