@media (min-width: 768px) and (max-width: 979px) {
  .desktop h1 {
    font-size: 28px;
  }
  .desktop h2 {
    font-size: 24px;
  }
  .desktop img {
    width: 420px;
  }
  .desktop .bannercontent {
    top: 15%;
  }
}

@media (min-width: 980px) {
  .desktop h1 {
    font-size: 32px;
  }
  .desktop h2 {
    font-size: 24px;
  }
  .desktop img {
    width: 520px;
  }
  .desktop .bannercontent {
    top: 20%;
    margin-right: 20px;
  }
}

.banner {
  height: 100%;
  min-height: 800px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.desktop .bannercontent {
  width: 100vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desktop img {
  z-index: 2;
}

.desktop h1 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #5b5b5b;
  line-height: 2;
}

.desktop h2 {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
  margin-top: 22px;
}

.desktop .ctabtn {
  width: 308px;
  height: 61px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10 15px;
  border-radius: 50px;
  background-color: #67d59b;
  color: white;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.mobile .bannercontent {
  position: absolute;
  top: 12%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile img {
  width: 350px;
  margin-top: 20px;
}

.mobile h1 {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #5b5b5b;
  line-height: 2;
}

.mobile h2 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
  margin-top: 22px;
}

.mobile .ctabtn {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10 15px;
  border-radius: 50px;
  background-color: #67d59b;
  color: white;
  margin-top: 30px;
}
/*# sourceMappingURL=banner.css.map */