@media (max-width: 767px) {
    .hook {
        h3 {
            font-size: 1.3rem;
        }
    }

    .deco1,
    .deco2 {
        width: 70px;
    }

    .compareblock {
        padding-left: 30px;
        padding-right: 30px;

        .content {
            padding-left: 25px;
            padding-right: 25px;

            .title {
                padding: 20px;
                writing-mode: vertical-lr;
                width: 70px;
                height: 260px;
            }
            .decoline{
                width: 2px;
                height: 200px;
            }
        }
    }
    .dd{
        .decoline{
            height: 200px;
            width: 3px;
        }
        
    }
    
}

@media (max-width: 480px) {
    .hook {
        h3 {
            width: 90%;
            font-size: 1.3rem;
        }

        .title {
            padding-left: 15px;
            padding-right: 15px;
        }
        
    }

    .deco1,
    .deco2 {
        width: 60px;
    }

    .outer,
    .fb {
        flex-direction: column;

    }

    .compareblock {

        .content {
            padding-left: 15px;
            padding-right: 15px;

            // flex-direction: column;
            .title {
                padding: 10px;
                height: auto;
                width: 100%;
                writing-mode: horizontal-tb;


            }
            .decoline{
                height: 0px;
                margin-top: 20px;
            }

            .list {
                li {
                    font-size: 1rem;
                }
            }
        }
    }
    .dd{
        flex-direction: column;
        .decoline{
            height: 0px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 320px) {

    .hook {
        .title {
            padding-left: 10px;
            padding-right: 10px;
        }

        h3 {
            width: 50%;
            font-size: 1.1rem;
        }
    }

    .deco1,
    .deco2 {
        width: 45px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .hook {
        h3 {
            font-size: 1.8rem;
        }
    }

    .compareblock {
        padding-left: 100px;
        padding-right: 100px;

        .content {
            padding-left: 50px;
            padding-right: 50px;

            .title {
                padding: 20px;
                writing-mode: vertical-lr;
                width: 70px;
                height: 260px;
            }
            .decoline{
                width: 2px;
                height: 200px;
            }

            .list {
                li {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .dd{
        .decoline{
            height: 200px;
            width: 3px;
        }
        
    }
}

@media (min-width: 980px) {
    .hook {
        h3 {
            font-size: 1.8rem;
        }
    }

    .compareblock {
        padding-left: 150px;
        padding-right: 150px;

        .content {
            padding-left: 50px;
            padding-right: 50px;

            .title {
                padding: 20px;
                writing-mode: vertical-lr;
                width: 70px;
                height: 260px;
            }
            .decoline{
                width: 2px;
                height: 200px;
            }

            .list {
                li {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .dd{
        .decoline{
            height: 200px;
            width: 3px;
        }
        
    }
}

@media (min-width: 1200px) {}

.hook {
    .title {
        // padding-left: 20px;
        // padding-right: 20px;
        // margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;



        .deco1 {


            z-index: -1;
            left: -5%;
            top: 20%;
            position: absolute;



            //    border: solid 1px;
        }

        .deco2 {
            right: 1%;
            top: -30%;





            z-index: -1;
            position: absolute;
        }

        h3 {


            // font-size: 1.8rem;
            position: relative;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.84;
            letter-spacing: 3.2px;
            text-align: center;
            color: #5b5b5b;

        }
    }



}

.compareblock {
    margin-top: 120px;

    .content {
        width: 100%;


        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        // padding-left: 50px;
        // padding-right: 50px;
        border-radius: 10px;
        box-shadow: 1px 5px 13px 9px rgba(228, 228, 228, 0.21);
        background-color: #fff;

        .outer,
        .fb {

            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {

                
                flex-grow: 0;
                

                border-radius: 15px;
                background-color: #5b5b5b;


                font-size: 1.2rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: 15px;
                text-align: center;
                color: #fff;

            }

            .decoline {
                
              

                background-color: #5b5b5b;
            }

            .list {
                // flex: 6;
                // border: solid 1px;
                width: 70%;
                margin-left: 15px;

                ul {

                    // list-style: none;
                    li {

                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.22;
                        letter-spacing: 0.9px;
                        text-align: left;
                        color: #5b5b5b;
                        margin-bottom: 20px;
                    }
                }


            }
        }

        .dd {
            // margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {


                img {
                    width: 70px;

                }
            }

            .decoline {
                

                background-color: #67d59b;
            }

            .list {
                // flex: 6;
                // border: solid 1px;
                width: 70%;
                margin-left: 15px;

                ul {

                    // list-style: none;
                    li {

                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.22;
                        letter-spacing: 0.9px;
                        text-align: left;
                        color: #5b5b5b;
                        margin-bottom: 20px;
                    }
                }


            }
        }
    }
}