@media (max-width: 767px) {
    .functiontitle {
        font-size: 1.5rem;
    }
    .title {
        font-size: 1.4rem;
    }

    .content {
        font-size: 1.1rem;
    }
    .function-one{
        flex-direction: column;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 20px;
        img{
            width: 400px;
        }
        .morebtn{
            font-size: 1.2rem;
        }
    }
    .function-two{
       
        .content{
            
            width: 100%;
           align-items: flex-start;
        }
        // align-items: flex-start;
       
    }
}

@media (max-width: 480px) {
    .functiontitle {
        font-size: 1.3rem;
    }
    .title {
        font-size: 1.2rem;
    }

    .content {
        font-size: 1rem;
    }.function-one{
        padding-left: 30px;
        padding-right: 20px;
        img{
            width: auto;
            // width: 200px;
        }
       
    }
    

}

@media (min-width: 768px) and (max-width: 979px) {
    .functiontitle {
        font-size: 1.8rem;
    }
    .title {
        font-size: 1.6rem;
    }

    .content {
        font-size: 1.3rem;
    }
    .function-one{
        padding-left: 30px;
        padding-right: 30px;
        img{
            width: 400px;
        }
    }
    .morebtn{
        font-size: 1.3rem;
    }
}

@media (min-width: 980px) {
    .functiontitle {
        font-size: 1.8rem;
    }

    .title {
        font-size: 1.7rem;
    }

    .content {
        font-size: 1.4rem;
    }
    .function-one{
        padding-left: 30px;
        padding-right: 30px;
    }
    .morebtn{
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {}

.function {

    // margin-top: 150px;
    .functiontitle {
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: 3.6px;
        text-align: center;
        color: #5b5b5b;

    }

    .function-one {
        display: flex;
        justify-content: center;
        
        margin-top: 100px;
        // border: solid 1px;
        .morebtn{
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.1;
            letter-spacing: 2px;
            text-align: left;
            color: #58be88;
            margin-top: 15px;
        }
        img{
            margin-right: 20px;
        }

        .title {
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.97;
            letter-spacing: 3px;
            text-align: left;
            color: #5b5b5b;
            margin-top: 30px;

        }

        .content {
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.1;
            letter-spacing: 2px;
            text-align: left;
            color: #858585;
            margin-top: 13px;

        }
    }
}