* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: 767px) {
    nav {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        .logo{
            height: 40px;
        }
        ul{
            display: none;
        }
        .hammenu{
            display: block;
            div{
                width: 50px;
                height: 4px;
                border-radius: 5px;
                background-color: #67d59b;
                margin-bottom: 8px;
                margin-top: 8px;

            }
        }
    }
}

@media (max-width: 480px) {
    nav{
        .ctabtn{
           opacity: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    nav {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        .logo{
            height: 50px;
        }
        ul{
            display: none;
        }
        .hammenu{
            display: block;
            div{
                width: 60px;
                height: 4px;
                border-radius: 5px;
                background-color: #67d59b;
                margin-bottom: 10px;
                margin-top: 10px;

            }
        }
    }
}

@media (min-width: 980px) {
    nav {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        .logo{
            height: 60px;
        }
        ul{
            display: flex;
        }
        .hammenu{
            display: none;
            div{
                width: 60px;
                height: 4px;
                border-radius: 5px;
                background-color: #67d59b;
                margin-bottom: 10px;
                margin-top: 10px;

            }
        }
    }
}

@media (min-width: 1200px) {}





nav {
    width: 100vw;
    // height: 99px;
    box-shadow: 1px 7px 10px 0 rgba(198, 198, 198, 0.14);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;

    .logo {
        background-image: url('./media/logo.svg');
        width: 120px;
        

        background-position: center;
        background-repeat: no-repeat;
    }

    .navright {
        display: flex;
       
        align-items: center;
        list-style: none;

        ul {
           

            align-items: center;
            list-style: none;

            li {
                margin-right: 60px;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #5b5b5b;
                cursor: pointer;
                transition: 0.3s;
            }
            li:hover{
                color: #67d59b;

            }
        }

        .ctabtn {
            width: 142px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border-radius: 50px;
            background-color: #67d59b;
            color: white;

            span {

                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;

                color: #fff;

            }
        }
        .hammenu{
            margin-left: 30px;
            
            
        }
    }



}