@media (max-width: 767px) {
  h3 {
    font-size: 1.7rem;
  }
  .situation-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .situation-content .title {
    font-size: 1.5rem;
  }
  .situation-content .content {
    font-size: 1.1rem;
  }
  .deco {
    top: 75%;
  }
  .one img {
    width: 300px;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (max-width: 480px) {
  .deco {
    top: 80%;
  }
  .situation-content .title {
    font-size: 1.5rem;
  }
  .situation-content .content {
    font-size: 1.1rem;
  }
  .one img {
    width: 250px;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (max-width: 320px) {
  .deco {
    top: 85%;
  }
  .situation-content .title {
    font-size: 1.3rem;
  }
  .situation-content .content {
    font-size: 1rem;
  }
  .one img {
    width: 220px;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .situation-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .situation-content .title {
    font-size: 1.5rem;
  }
  .situation-content .content {
    font-size: 1.1rem;
  }
  .deco {
    top: 50%;
  }
  h3 {
    font-size: 2rem;
  }
  .one img {
    width: 300px;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (min-width: 980px) {
  .situation-content .title {
    font-size: 1.5rem;
  }
  .situation-content .content {
    font-size: 1.1rem;
  }
  .deco {
    top: -50%;
  }
  h3 {
    font-size: 2.2rem;
  }
  .one img {
    width: 300px;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (min-width: 1200px) {
  .deco {
    top: -60%;
  }
}

.situation-area {
  background-image: url("./media/Subtract.svg");
  background-position: 50% 150%;
  background-size: cover;
  padding-bottom: 130px;
}

.situation-area h3 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: 3.6px;
  text-align: center;
  color: #5b5b5b;
  margin-top: 100px;
}

.situation-area .situation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  position: relative;
  width: 100vw;
}

.situation-area .situation-content .deco {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.situation-area .situation-content .one {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.situation-area .situation-content .one .title {
  border-bottom: solid 3px #67d59b;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.1px;
  padding-bottom: 5px;
  text-align: center;
  color: #5b5b5b;
}

.situation-area .situation-content .one .content {
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: 1.8px;
  text-align: center;
  color: #5b5b5b;
}
/*# sourceMappingURL=situation.css.map */