@media (max-width: 767px) {
    h3{
        font-size: 1.7rem;
    }
    .situation-content{
        flex-direction: column;
        .title{
            font-size: 1.5rem;
        }
        .content{
         font-size: 1.1rem;
        }
    }
    
    .deco{
        top: 75%;
    }
    .one{
        img {
            width: 300px;
            flex: 5;
            // border: solid 1px;
        }
    }

}
@media (max-width: 480px) {
    .deco{
        top: 80%;
    }
    .situation-content{
        
        .title{
            font-size: 1.5rem;
        }
        .content{
         font-size: 1.1rem;
        }
    }
    .one{
        img {
            width: 250px;
            flex: 5;
            // border: solid 1px;
        }
    }
}
@media (max-width: 320px) {
    .deco{
        top: 85%;
    }
    .situation-content{
        
        .title{
            font-size: 1.3rem;
        }
        .content{
         font-size: 1rem;
        }
    }
    .one{
        img {
            width: 220px;
            flex: 5;
            // border: solid 1px;
        }
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .situation-content{
        flex-direction: column;
        .title{
            font-size: 1.5rem;
        }
        .content{
         font-size: 1.1rem;
        }
    }
    .deco{
        top: 50%;
    }
    h3{
        font-size: 2rem;
    }
    .one{
        img {
            width: 300px;
            flex: 5;
            // border: solid 1px;
        }
    }
}
@media (min-width: 980px) {
    .situation-content{
       .title{
           font-size: 1.5rem;
       }
       .content{
        font-size: 1.1rem;
       }
    }
    .deco{
        top: -50%;
    }
    h3{
        font-size: 2.2rem;
    }
    .one{
        img {
            width: 300px;
            flex: 5;
            // border: solid 1px;
        }
    }
}
@media (min-width: 1200px) {
    .deco{
        top: -60%;
    }
}
.situation-area {
    background-image: url('./media/Subtract.svg');
    background-position: 50% 150%;
    // background-position: 50% 100%;
    background-size: cover;
    padding-bottom: 130px;
    h3 {
        
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: 3.6px;
        text-align: center;
        color: #5b5b5b;
        margin-top: 100px;
    }

    

    .situation-content {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
       
      
        // height: auto;
        
        // padding-bottom: 100px;
        // border: solid 1px;
        position: relative;
        width: 100vw;
        
        // overflow: hidden;

        .deco {
            position: absolute;
            // left: 50%;
            
            z-index: -1;
            // top: 200px;
            
            // top: 50%;
           
            // left: 50%;
            width: 100%;
            // height: 100%;
            
            // transform: translate(-50%,0%);
            // transform: scale(2);
            // height: 100%;
            // height: 100%;
            // width: 100vw;
            // background-size: cover;
            // background-image: url('./media/Subtract.svg');
           
            // border: solid 1px;
    
          
        }
        .one {
            flex: 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            margin-bottom: 60px;
           

            

            .title {
                border-bottom: solid 3px #67d59b;
                margin-top: 30px;
                margin-bottom: 20px;
                // font-family: NotoSansTC;
                // font-size: 1.5rem;
                // font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 1.1px;
                padding-bottom: 5px;
                text-align: center;
                color: #5b5b5b;
            }

            .content {
                text-align: center;
                // font-family: NotoSansTC;
                // font-size: 1.1rem;
                // font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.83;
                letter-spacing: 1.8px;
                text-align: center;
                color: #5b5b5b;
            }
        }
        .two{
            .title{
                // margin-top: 40px;
            }
            img{
                // width: 254px;
            }
        }
        .three{
            .title{
                // margin-top: 40px;
            }
            img{
                // width: 193px;
            }
        }
    }

}